<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="Apex" version="1.5.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net45" />
  <package id="Fluent.Ribbon" version="3.0.0" targetFramework="net45" />
  <package id="FluidKit" version="1.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Timeline" version="2.0.2.41912" targetFramework="net45" />
</packages>